body{
    background:#f69e7b;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: #1a1c20;
}

.assigment{
    display:flex;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background: #eedad1;
    border-radius: 5px;
    box-shadow: 5px 10px #383e56;
}

.assigment img{
    width: 400px;
    border: 2px solid #587AA6;
    margin-right: 20px;
    border-radius: 5px;
}

h1{ 
    color: #383e56;
    text-align: center;
}

a{
    color: yellowgreen;
    text-decoration: none;
}

.assigment a:hover{
    color: #835858;
}
/*  #eeeeee #222831 #4f8a8b #fbd46d*/